html,body{
  height:100%;
}

.wrap{
  width:100%;
  height:100%;
  position:relative
}

.head{
  height:100px;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  z-index:2;
}

#bodywrap{
  /*margin-top:100px;*/
  margin-left:-8px;
}

#left,#right{
  width:200px;
  height:100%
}

#left,#center,#right,#bodywrap{
  height:100%
}

#left{
  margin-top:30px;
  float:left;
  position:fixed;
}

#center{
  background-color: #EEE;;
  margin-left:200px;
  overflow:scroll; 
  overflow-x:hidden;
  margin-right:191px
}
.center-content{
  text-align: center;
  margin-top:25%;
  margin-bottom:5%;

}
#right{
  margin-top:30px;
  position:fixed;
  right:0;
}

 
.header{
	background-color: #6F5499;
	padding: 0px 10px 10px 0px;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
	background-image: linear-gradient(to bottom, #563D7C 0px, #6F5499 100%);
	background-repeat: repeat-y;
	padding-top:40px;
	margin-bottom: 40px;
	font-size:20px;

}
.header h2{
	margin-top: 0px;
	color: #FFF;
}
.header p{
	color: #CDBFE3;
	text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
}


#stops{
  margin-top:-50px;
}

@media (max-width:499px){

                .left,.right{width:50px;height:100%}

                .center{margin-left:0px; overflow:scroll; overflow-x:hidden;margin-right:0px}

}