<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!--mobile centric-->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"><!--noscrolling-->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="css/normalize.css" rel="stylesheet">
	<link href="css/app.css" rel="stylesheet">
	<!--<link href="css/dashboard.css" rel="stylesheet">-->
  <title>Realtime Light Rail</title>
</head>

<body>
    <div class='wrap'>

        <div class='head'>
			<div id="content" class="header" tabindex="-1">
				<div class="container">
					<h2>Realtime Minneapolis Light Rail</h2>
					<p>View real-time arrivals for all Green Line, Blue Line, and Red Line trains in Minneapolis/St.Paul</p>

				</div>
			</div>
									   
		
		
		</div>

        <div id='bodywrap'>
            <div id='left'></div>

            <div id='right'></div>

			<div id="center">
			   <div id="the-content" class="row-fluid">
				 <div id="routes" class="center-content"></div>
	             <div id="directions" class="center-content"></div>  
			     <div id="stops" class="center-content"></div> 
                 <div id="times" class="center-content"></div>

			  </div>
			
			</div>

        </div>

    </div>
	<div id="footer">
	    <div id="footer-content">
		    <div class="footer-item-left">
		        <p>Contribute to this site on <a href="https://github.com/zaqk/Realtime-Lightrail">Github</a>.</p>
		    </div>
		</div>
		
	</div>
 <script id="routeTemplate" type="text/template">
   <button id="<%= Route%>" type="button" class="routes route-button btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
        <div class="info">
          <div class="description"><%= Description%></div>
        </div>
  </button>

   <br/>
   <br/>
 </script>
 
 <script id="directionTemplate" type="text/template">
    <button id="<%= Value%>" type="button" class="directions direction-button btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
        <div class="info">
          <div class="description"><%= Text%></div>
        </div>
  </button>
   <br/>
   <br/>
 </script>
  <script id="stopTemplate" type="text/template">
   <button id = "<%= Value%>" type="button" class="stops stops-button btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
     <div class="info">
	   <div class="description"><%= Text%></div>
	 </div>
	</button>
	<br/>
	<br/>
 </script>
  <script id="timeTemplate" type="text/template">
   <div class="times">
      <div class="info">
		<div class="<%= Actual%>"><b>Arrives: </b><%= DepartureText %></div>
		<br/>
      </div>
  </div>
 </script>
 <script>

	//GLOBAL VARS
	var backButton =  '<button id="back">back</button>';
	var resetButton = '<button id="reset">reset</button>';
	var stopsElement = '<div id="stops" class="center-content"></div>';
	var directionsElement = '<div id="directions" class="center-content"></div>';
	var routesElement = '<div id="routes" class="center-content"></div>';
	var timesElement = '<div id="times" class="center-content"></div>';
	var contentDiv = '#the-content';
	

	
  </script>
  <script src="js/libs/jquery.js"></script>
  <script src="js/libs/bootstrap.min.js"></script>
  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/backbone.js"></script>
  <script src="js/router.js"></script>
  <script src="js/model.js"></script>
  <script src="js/collection.js"></script>
  <script src="js/view.js"></script>
  <script src="js/app.js"></script>
</body>
</html>